<!doctype html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel='stylesheet' id='rnr-google-fonts-css' href="https://fonts.googleapis.com/css?family=Merriweather%3A400%2C500%2C300%2C700&#038;subset=latin%2Clatin-ext&#038;ver=5.8.4" type='text/css' media='all' />

  <script src="https://kit.fontawesome.com/817c32e32b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  {% if template == "index" %}
    {{ 'index.css' | | asset_url | | stylesheet_tag }}
  {% endif %}

  {% if template == "customers/login" %}
    {{ 'login.css' | | asset_url | stylesheet_tag }}
    {{ 'login.js' | asset_url | script_tag }}
  {% endif %}

  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}

</head>
<body>

  <!-- Top part -->

  <div class = 'fa_bar'>

      <div id = 'phone_call'>
        <i class="fa-solid fa-phone"></i> 0723 539 557
      </div>

      <div id = 'account_area'>
          
          <a href = '/account/login'> <i class="fa-solid fa-arrow-right-to-bracket"></i> Log in </a>
            <span class = 'column_braker'></span>
          <a href = '#'> <i class="fa-solid fa-user-plus"></i> Register </a>

      </div>
  </div>

  <div class = 'search_area'>

    <div id = 'logo'>
      <img src =  {{  'logo.jpg' | asset_url}}> <span>Volt<br> Electro <br>Lab</span>
    </div>

    <div id = 'search'>
      <input type = 'text' id = 'search_input' placeholder="Cauta produs"/>

      <div class = 'search_wrapper'>
        <div class = 'search_list'>
        


        </div>
    </div>
      
      <div class = 'loading_dots'>
        <span class = 'dot'/>
      </div>

      <i class="fa-brands fa-searchengin"></i>

    </div>

    <div id = 'extra'>

      <div class = 'extra_card' onclick="cta()">
        <i class="fa-solid fa-address-card"></i>
        <span>Contact us</span>
      </div>

      <div class = 'extra_card'>
        <i class="fa-solid fa-cart-flatbed"></i>
        <span>Cart</span>
      </div>

    </div>

  </div>
  <div class = 'line-break' style="background-image: url({{ 'border-top.jpg' | asset_url }}) ">

  </div>


  <!-- Contact us slide -->

  <div class = 'contact_us_menu closed'>
    <div class = 'contact_us_menu_header'>
        <span>Contacteaza-ne</span>
        <i class="fa-solid fa-xmark" onclick="cta()"></i> 
    </div>
    <div class = 'contact_us_menu_body'>

        <a href = 'tel:0771-189-311'>
            <div class = 'contact_us_card'>
                <i class="fa-solid fa-phone"></i>
                <span>0771 189 311</span>
            </div>
         </a>

         <a href = 'https://compose.mail.yahoo.com/?to=office@voltelectrolab.com' target="_blank">
            <div class = 'contact_us_card special'>
                <i class="fa-regular fa-envelope"></i>
                <span style="font-size: 22px;">office@voltelectrolab.com</span>
            </div>
         </a>

         <a href = '#'>
            <div class = 'contact_us_card'>
                <i class="fa-regular fa-message"></i>
                <span>Trimite-ne un mesaj</span>
            </div>
         </a>

    </div>

    <div class = 'contact_us_menu_footer'>

        <div class = 'company_card'>
            <div class = 'company_card_header'>
                <img src = {{ "logo.jpg" | asset_img_url }}/>
                <div class = 'company_card_title'>
                    <p>Volt Electro Lab </p>
                    <p>Service electronică industrială</p>
                </div>
            </div>

            <div class = 'company_card_body'>
               Bucuresti, Splaiul Unirii 313<br> ICPE Etaj 2, Camera 41
                <i class="fa-solid fa-map-location" style="margin-top: 10px;margin-left: 10px; font-size: 25px"></i>
            </div>
        </div>


        <div class = 'schedule'>
            <p>Program de lucru</p>
            <p>Lu - Vi: 10:00 - 18:00</p>
            <p>Sa - Du: Inchis</p>
        </div>

    </div>

</div>

  <!-- End COntact us slide -->
  
  <div class = 'menu_wrapper'>
    {% for link in linklists.main-menu.links %}
      <div class = 'menu_link'>    
        {{ link.title | link_to: link.url }}
      </div>
    {% endfor %}
</div>

<!-- End top part -->


  <main role="main"> 
    <!-- {{ template }} -->
    {{ content_for_layout }}

  
  </main>
</body>
</html>
