
<div class = 'fake_wrapper' style = "
margin-bottom: 20px;
     {% if section.settings.background_image != blank %} 
       background-image: url({{ section.settings.background_image | img_url: '200x' }}) 
       {% else %}
       background-image: url({{ 'back2.jpg' | asset_img_url: 'original' }});
       {% endif %}
    ">

    <div class = 'section_content'>
        <p class = 'title'> Modele pentru care se ofera serivce aparate de sudura </p>

        <div class = 'models_wrapper'>

            {% if section.blocks.size == 0 %}
            
            <div class = 'model_repaired'>
                <p class="title">TIG/WIG – Tungsten/Wolfram Insert Gas

                </p>
                {{ 'mother.jpg' | asset_img_url: '350x350' | img_tag}}
            </div>

            <div class = 'model_repaired'>
                <p class="title">Nume modul</p>
                {{ 'mother.jpg' | asset_img_url: '350x350' | img_tag}}
            </div>

            <div class = 'model_repaired'>
                <p class="title">Nume modul</p>
                {{ 'mother.jpg' | asset_img_url: '350x350' | img_tag}}
            </div>

            {% else %}
                {% for block in section.blocks %}   
                <div class = 'model_repaired'>
                    <p class="title"> {{ block.settings.module_text }}</p>
                    {{ block.settings.module_pic | img_url: '350x310' | img_tag}}
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
</div>


{% schema %}
{
    "name": "Modele service",
    "tag": "section",
    "class": "lp_content full_screen no_border models",
    "settings":[
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Imagine de fundal"
        }
    ],
    "blocks": [
        {
            "name": "Modul",
            "type": "serviced_module",
            "settings": [
                {
                        "type": "image_picker",
                        "id": "module_pic",
                        "label": "Poza modul"
                },
                {
                    "type": "text",
                    "id": "module_text",
                    "label": "Text modul"  
                }
            ]
        }
    ],
    "presets": [
    {
      "name": "Modele service",
      "category": "Custom"
    }
  ],
   "templates": [
  "page"
]
}
{%  endschema %}