

{{'text-media.css' | asset_url | stylesheet_tag}}

<div class = 'section_content'>

    <div class = 'section_text_part'>
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'text_p' %}
            <p> {{ block.settings.text_content }} </p>
                {% when 'text_t' %}
                <h2> {{ block.settings.text_content}} </h2>
            {% endcase %}
        {% endfor %}
    </div>

    {% if section.settings.image != blank %}
        {{ section.settings.image | img_url: '480x' | img_tag }}
    {% else %}
        {{ 'mother.jpg' | asset_img_url: '480x' | img_tag}}
    {% endif %}

</div>
{% schema %}

{
    "name": "Text and Media",
    "tag": "section",
    "class": "lp_content text_media",
    "settings":[
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image content"
        }
    ],
    "blocks": [
        {
            "name": "Paragraf",
            "type": "text_p",
            "settings": [
                {
                    "type": "text",
                    "id": "text_content",
                    "label": "Continut text"
                }
            ]
        },
        {
            "name": "Titlu",
            "type": "text_t",
            "settings": [
                {
                    "type": "text",
                    "id": "text_content",
                    "label": "Continut titlu"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Text and media",
        "category": "Custom"
      }
    ],
     "templates": [
    "page"
  ]
    
}

{% endschema %}