<!-- this is the home page  -->

<!-- {% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %} -->

<style>

  .top_banner:before{
    background-image: url({{ 'new-banner-bg.jpg' | asset_img_url: 'original' }});
  }

</style>
<section class = 'top_banner'>
    <div class = 'wrapper'>
      <div class = 'left_part'>

          <div class = 'panel'>
              <p class = 'heading1'>Ca nou. Mai ieftin. Cu pasiune</p>
              <span class = 'splitter'></span>

                  <p class = 'sub_heading'>Alt text ceva mai lung cred ca are vreo 50 de caractere dar acum nu am text </p>
              
                  <div class = 'input_wrapper'>
                      <input type = 'text' placeholder="Part number search"/>

                      <div class = 'search_icon'>
                          <i class="fa-brands fa-searchengin"></i>
                      </div>

                  </div>

                  <div class = 'tray'>
                      
                      <div class = 'item'>
                          <i class="fa-solid fa-circle-check"></i>
                          <span>Transport gratuit in Romania</span>
                      </div>

                      <div class = 'item'>
                          <i class="fa-solid fa-circle-check"></i>
                          <span>Garantie de la 6 luni</span>
                      </div>

                      <div class = 'item'>
                          <i class="fa-solid fa-circle-check"></i>
                          <span>No fix no fee</span>
                      </div>

                  </div>

          </div>

      </div>
          <div class = 'right_part'>
              <img src =  {{ 'Artboard 2 copy-8.png' | asset_img_url: '500x' }} />
          </div>
    </div>

</section>


<div class = 'logos_band'>
  <img src = {{ 'Fabrici-brand.jpg' | asset_img_url: 'original' }}/>
</div>

{% section 'home-cards' %}

<section class = 'blogs'>

{% for article in blogs.repairs.articles %}
  <div class = 'blog'>
    <div class = 'image_wrapper'>
        <img src = {{ article.image | img_url: '300x300'}} />
  </div>
    <div class = 'blog_content'>
      <p>{{ article.title }} </p>
      <span> {{ article.excerpt | | truncate: 150, '...' }} </span>
    </div>
  </div>
{% endfor %}

</section>


<section class = 'our_services'>
  <div class = 'overlay'  style="background-image: url({{ 'mother.jpg' | asset_url }}) ;">
    </div>
  <p class = 'os_title'>
    Serviciile noastre 
  </p>

  <div class = 'os_items'>

    <div class = 'os_item'>
      
      <div class = 'os_item-circle'>
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <p>Reparatii</p>
      </div>

    </div>

    <div class = 'os_item'>
      
      <div class = 'os_item-circle'>
        <i class="fa-solid fa-toolbox"></i>
        <p>Support</p>
      </div>

    </div>


    <div class = 'os_item'>
      
      <div class = 'os_item-circle'>
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <p>Piese de schimb</p>
      </div>

    </div>

  </div>


</section>

<section class = ''