<!-- this is the home page  -->

<!-- {% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %} -->

{% section 'home-top-banner' %}
<div class = 'logos_band'>
  <img src = {{ 'Fabrici-brand.jpg' | asset_img_url: 'original' }}/>
</div>

{% section 'home-cards' %}

<section class = 'blogs'>

{% for article in blogs.repairs.articles %}
  <div class = 'blog'>
    <div class = 'image_wrapper'>
        <img src = {{ article.image | img_url: '300x300'}} />
  </div>
    <div class = 'blog_content'>
      <p>{{ article.title }} </p>
      <span> {{ article.excerpt | | truncate: 150, '...' }} </span>
    </div>
  </div>
{% endfor %}

</section>


<section class = 'our_services'>
  <div class = 'overlay'  style="background-image: url({{ 'mother.jpg' | asset_url }}) ;">
    </div>
  <p class = 'os_title'>
    Serviciile noastre 
  </p>

  <div class = 'os_items'>

    <div class = 'os_item'>
      
      <div class = 'os_item-circle'>
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <p>Reparatii</p>
      </div>

    </div>

    <div class = 'os_item'>
      
      <div class = 'os_item-circle'>
        <i class="fa-solid fa-toolbox"></i>
        <p>Support</p>
      </div>

    </div>


    <div class = 'os_item'>
      
      <div class = 'os_item-circle'>
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <p>Piese de schimb</p>
      </div>

    </div>

  </div>


</section>